:root {
    --basic-black: #000000;
    --red: #FB565A;
    --green: #00CA74;
    --yellow: #EFC849;
    --grey: #EEEEEE;
    --white: #FFFFFF;
    --fog-gray: #666;
    --lite-grey: #E1E1E1;
    --fog-red: #E74246;
    --fog-dark-red: #D7373B;
    --some-green: #00BC6C;
    --some-dark-green: #00AA62;
    --some-fog-yellow: #EAB534;
    --some-dark-yellow: #E5A722;
    --another-gray: #DFDFDF;
    --another-other-gray: #D5D5D5;
    --light-black: #283136;
    --gray-like-me: #a6a6a6;
    --gray-like-you: #f1f1f1;
    --gray-rang: #d7dcde;
    --gray-cf: #cfcfcf;
    --gray-check: #4d4d4d;
    --gray-slider: #C1C1C1;
}

.page {
    font-family: "Roboto", "Arial", sans-serif;
    min-width: 960px;
    font-size: 16px;
    font-weight: normal;
    min-height: 100%;
}

.main-header {
    background-color: var(--grey);
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}

.main-header-catalog {
    background-color: var(--grey);
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    padding-bottom: 231px;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 225px;
}

.wraper {
    display: flex;
    padding-top: 50px;
    padding-left: 10px;
}

.main-navigation {
    align-items: center;
    padding-bottom: 63px;
    background-color: var(--grey);
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.main-header-logo {
    padding-left: 10px;
}

.main-header-logo:hover {
    opacity: .7;
}

.main-header-logo:active {
    opacity: .3;
}

.site-navigation {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 7px;
    padding-left: 30px
}

.nav-item-basket {
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
    margin-right: 20px;
    margin-top: 10px;
    position: relative;
}

.nav-item-basket::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: -33px;
    background-image: url(/img/cart-icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.nav-item-basket:hover {
    color: var(--red);
}

.nav-item-basket:active {
    opacity: .3;
}

.nav-item-basket:visited {
    text-decoration: underline;
}

.nav-item {
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
    margin-right: 46px;
}

.nav-item:hover {
    color: var(--red);
}

.nav-item:active {
    opacity: .3;
}

.nav-item:visited {
    text-decoration: underline;
}

.basket-button:hover {
    color: var(--red);
}

.basket {
    display: flex;
    align-items: center;
}

.basket-button:active {
    opacity: .3;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.services-title {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
}

.services-item {
    width: 300px;
}

.services-item::before {
    background-image: url("img/illustration-31.jpg");
}

.slider-description {
    font-style: normal;
    font-weight: normal;
    align-items: center;
    color: var(--light-black);
}

.services-description {
    width: 400px;
    height: 49px;
    color: var(--light-black);
}

.about {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.about-description {
    color: var(--light-black);
    margin-top: 47px;
    margin-bottom: 56px;
}

.button-order1 {
    width: 160px;
    height: 50px;
    color: var(--white);
    background: var(--red);
}

.button-order2 {
    width: 160px;
    height: 50px;
    color: var(--white);
    background: var(--green);
}

.button-order3 {
    width: 160px;
    height: 50px;
    color: var(--white);
    background: var(--yellow);
}

.about-quote {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 31px;
    margin-bottom: 31px;
}

.contacs-phone {
    text-decoration: none;
    color: var(--fog-gray);
    font-style: normal;
    margin-bottom: 37px;
    width: 200px;
}

.footer-slogan-top {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.footer-slogan-bot {
    line-height: 22px;
}

.form-button {
    width: 259px;
    height: 50px;
    background: var(--red);
    color: var(--white);
}

.feature-slogan {
    font-weight: bold;
    text-transform: uppercase;
}

.feature-number {
    font-size: 45px;
}

.modal-title {
    font-size: 45px;
}

.modal-subtitle {
    font-weight: bold;
}

.name-name {
    width: 360px;
    height: 50px;
}

.form-email {
    width: 360px;
    height: 50px;
}

.form-text {
    width: 760px;
    height: 145px;
}

.socials-item {
    background-color: var(--lite-grey);
    border-radius: 50%;
    display: grid;
    place-items: center
}

.socials-item:hover {
    background-color: var(--fog-red);
}

.socials-item:active {
    background-color: var(--fog-dark-red);
    color: rgba(255, 255, 255, 0.3);
}

.cases-item {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.1);
    position: relative;
}

.cases-item::after {
    content: "";
    width: 2px;
    height: 52px;
    background-color: var(--grey);
    position: absolute;
    left: 294px;
}

.cases-item:nth-of-type(4n+4)::after {
    display: none;
}

.button-order1:hover {
    background-color: var(--fog-red);
}

.button-order1:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--fog-dark-red);
}

.button-order2:hover {
    background-color: var(--some-green);
}

.button-order2:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--some-dark-green);
}

.button-order3:hover {
    background-color: var(--some-fog-yellow);
}

.button-order3:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--some-dark-yellow);
}

.button-slider {
    width: 240px;
    height: 50px;
    color: var(--white);
    background: var(--red);
}

.button-slider:hover {
    background-color: var(--fog-red);
}

.button-slider:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--fog-dark-red);
}

.button-adress {
    width: 219px;
    height: 50px;
    color: var(--white);
    background: var(--red);
}

.button-adress:hover {
    background-color: var(--fog-red);
}

.button-adress:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--fog-dark-red);
}

.form-button:hover {
    background-color: #E74246;
}

.form-button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--fog-dark-red);
}

.cases-img {
    opacity: 0.2;
}

.cases-img:hover {
    opacity: 1;
}

.cases-img:active {
    opacity: 0.1;
}

.button {
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.button-adress:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
}

.address-streat {
    font-style: normal;
    color: var(--fog-gray);
    width: 200px;
}

.h1 {
    font-size: 55px;
    line-height: 55px;
}

.list {
    list-style-type: none;
}

.sort-button .triangle {
    margin: 0;
}

.button-show {
    width: 260px;
    height: 50px;
    background: var(--grey);
}

.button-show:hover {
    background: var(--another-gray);
}

.button-show:active {
    background: var(--another-other-gray);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
    ;
}

.sort-button {
    all: unset;
    text-transform: uppercase;
    opacity: 0.3;
    margin-right: 13px;
    font-size: 14px;
}

.sort-button:hover {
    opacity: 0.6;
}

.sort-button:active {
    opacity: 1;
}

.grid {
    border: none;
    padding-left: 0px;
    margin-top: 55px;
    margin-bottom: 38px;
    height: 152px;
}

.feature {
    border: none;
    padding-left: 0px;
}

.sites {
    list-style-type: none;
    display: grid;
    grid-template-columns: 358px 358px;
    gap: 32px 42px;
    width: 758px;
    padding-left: 0px;
}

.sites-title {
    text-decoration: none;
    color: var(--basic-black);
    padding-top: 26px;
    text-transform: uppercase;
}

.sites-p {
    color: var(--fog-gray);
}

.page-numbers {
    list-style-type: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.page-number-item {
    text-decoration: none;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--grey);
    font-weight: 500;
    font-size: 16px;
}

.background-h1 {
    background-color: var(--grey);
    height: 155px;
    margin: 0 auto;
}

.h1 {
    margin: 0 auto;
    text-align: center;
    grid-column: 1 / -1;
}

.fieldset-cost {
    border: none;
}

.cost-slider {
    background-color: var(--grey);
    width: 300px;
    height: 80px;
}

.cost-input {
    width: 80px;
    height: 38px;
    background-color: var(--grey);
    border: none;
    border-radius: 3px;
    text-align: center;
}

.goods-item-text {
    background-color: var(--grey);
    text-align: center;
    width: 360px;
    height: 231px;
    position: absolute;
    display: none;
    bottom: 0;
}

.goods-item {
    width: 360px;
}

.goods-item:hover .goods-item-text {
    display: block;
}

.page {
    height: 100%;
}

.main-navigation-wraper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 27px;
    padding-top: 2px;
}

.services {
    display: flex;
    column-gap: 100px;
    justify-content: center;
    padding-top: 80px;
}

.index-columns {
    display: inline-flex;
    padding-top: 73px;
    justify-content: space-evenly;
    border-top: 2px solid var(--grey);
    margin-top: 80px;
    padding-top: 40px;
}

.cases {
    display: grid;
}

.basket {
    display: flex;
}

.page-catalog {
    display: grid;
    grid-template-columns: 260px 940px;
    align-content: start;
    margin-top: 53px;
}

.sorting {
    display: flex;
    width: 752px;
    align-items: flex-start;
}

.sorting-h {
    margin-left: 0px;
    margin-right: 268px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.goods-item {
    display: grid;
}

.footer-socials {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    grid-auto-columns: 81px;
    grid-auto-rows: 81px;
    gap: 9px;
}

.numeric {
    font-weight: bold
}

.prozent {
    font-size: 26px;
}

.cases-row {
    display: grid;
    grid-template-columns: 298px 298px 298px 298px;
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    padding-top: 46px;
    padding-bottom: 46px;
}

.cases-item {
    display: grid;
    place-items: center;
}

.cases {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.feature-text {
    color: var(--light-black);
}

.slider-div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: auto;
}

.page-catalog {
    display: grid;
    grid-template-columns: 260px 940px;
}

.filter-conf {
    display: flex;
    justify-content: center;
    width: 260px;
}

.page-numbers {
    display: grid;
    gap: 10px;
    list-style-type: none;
    grid-template-columns: 50px 50px 50px 260px;
    padding-left: 0px;
}

.page-number-item {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--grey);
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
}

.page-number-item:hover {
    background-color: var(--another-other-gray);
}

.page-number-item-next {
    width: 260px;
}

.about-quote-div {
    margin-right: 95px;
}

.page-body {
    margin-bottom: 53px;
    min-height: 307px;
}

.catalog-border {
    max-width: 760px;
}

.promo {
    font-size: 55px;
    font-weight: 500;
    padding-top: 67px;
    text-align: center;
    padding-top: 32px;
}

.page-catalog-area {
    width: 1200px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
}

.goods-item-li {
    width: 359px;
    position: relative;
}

.goods {
    display: grid;
    grid-column: 2;
    width: 758px;
    margin-left: 182px;
}

.basket-icon {
    margin-right: 25px;
    width: 16px;
    height: 16px;
    margin-top: 10px;
}

.about-servises-list {
    margin-bottom: 24px;
    list-style-type: none;
    position: relative;
}

.about-servises-list::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--red);
    position: absolute;
    left: -34px;
    top: 12px;
}

.about-servises-title-list {
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 23px;
    font-weight: bold;
}

.filter-conf label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-radio+label::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    left: -39px;
    top: -4px;
    border: 4px solid var(--gray-like-me);
    border-radius: 50%;
}

.filter-input-checkbox+label::before {
    content: "";
    width: 23px;
    height: 23px;
    position: absolute;
    left: -39px;
    top: 0;
    border: 2px solid var(--gray-check);
    border-radius: 5px;
    opacity: 0.4;
}

.filter-input-checkbox:hover+label::before {
    opacity: 1;
}

.filter-conf label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.list-li {
    padding-bottom: 20px;
}

.filter-input-radio:checked+label::after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    left: -32px;
    top: 3px;
    background-color: var(--gray-like-me);
    border: 1px solid var(--gray-like-me);
    border-radius: 50%;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--gray-like-you);
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: var(--gray-rang);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--green);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--white);
    background-color: var(--gray-like-me);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--gray-cf);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--light-black);
    border: none;
    border-radius: 5px;
    background: var(--gray-like-you);
    font-family: inherit;
    font-size: inherit;
}

.fieldset-grid {
    text-transform: uppercase;
    font-weight: bold;
}

.fildset-feature {
    text-transform: uppercase;
    font-weight: bold;
}

.modal {
    position: fixed;
    width: 960px;
    height: 590px;
}


/* ___ container.scss */

.container {
    width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.carousel {
    position: relative;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    scrollbar-width: none;
}

.carousel__slides {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    /* Листаются только полноценные слайды (слайд не может остановиться на полпути) */
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    /* Убирем скролл */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-color: transparent;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

.carousel__slides::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.carousel__slides::-webkit-scrollbar-track {
    background: transparent;
}

.carousel__slides:-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

.carousel__slide {
    scroll-snap-align: start;
    flex: 1 0 100%;
    height: 431px;
    min-width: 900px;
}

.carousel__dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 18px;
    grid-auto-rows: 18px;
    justify-content: center;
    gap: 15px;
}

.carousel__dot {
    font-size: 0;
    display: block;
    background-color: var(--white);
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.carousel__dot--active {
    background-image: url(/img/ellipse.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide {
    position: relative;
    margin: 0;
}

.slide__name {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: black;
    width: 70%;
    top: 20px;
    left: 20px;
    padding-top: 19px;
    margin-bottom: 27px;
}

.slide__description {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    top: 70px;
    left: 20px;
    margin-bottom: 38px;
}

.slide__img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.slider {
    background-color: var(--grey);
}

.map .container {
    min-height: 230px;
    padding-top: 55px;
    z-index: 2
}

.map {
    margin-top: 80px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 50% 42%;
    background-size: cover;
    height: 420px
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 420px
}

.map .address {
    width: 297px;
    padding: 32px 10px 46px;
    background-color: var(--white);
}

.address {
    text-decoration: none;
}

.address-h3 {
    font-style: normal;
    width: 200px;
}

.address p {
    padding: 0 41px;
    margin-top: 24px;
    letter-spacing: .1px;
    line-height: 18px
}

.address span {
    margin-left: 41px
}

.button-address {
    width: 219px;
    margin-left: 40px;
    margin-top: 35px
}

.addres-container {
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.g-map {
    z-index: -1;
}

.address-plate {
    position: absolute;
    width: 318px;
    height: 308px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 51px;
}

.basket-text {
    margin-right: 0px;
}

.main-page-catalog-area {
    margin-left: auto;
    margin-right: auto;
}

.active {
    padding: 12px 18px;
    border: 3px solid var(--grey);
    background-color: var(--grey);
    color: #000;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 500;
}


/*кост рендж*/

.filter-headline {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.67;
    color: var(--basic-black);
    text-transform: uppercase;
}

.cost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 14px;
    border: 0 none;
    padding-left: 0px;
}

.cost__range {
    grid-column: 1/-1;
}

.cost__label {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.37;
    text-transform: uppercase;
    color: #283136;
    display: flex;
    align-items: center;
}

.cost__output {
    margin-left: px;
    background: var(--grey);
    border-radius: 3px;
    border: none;
    text-align: center;
    padding: 8px;
    max-width: 80px;
}

.range-slider {
    --primary-color: var(--green);
    --secondary-color: var(--gray-like-me);
    --side-offset: 18px;
    --fill-color: var(--primary-color);
    --progress-background: var(--gray-rang);
    --progress-radius: 0;
    --track-height: 2px;
    --min-max-font: 12px Arial;
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;
    --thumb-size: 20px;
    --thumb-color: var(--white);
    --thumb-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    --thumb-back: radial-gradient( 22.5% 22.5% at 50% 50%, var(--secondary-color) 45.82%, var(--white) 45.83%);
    --thumb-shadow-hover: 0px 3px 2px rgba(0, 0, 0, 0.2);
    --ticks-height: 5px;
    --ticks-gap: 30px;
    --step: 1;
    --ticks-count: (var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 30;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
    --x-step: Max(var(--step), var(--too-many-ticks) * (var(--max) - var(--min)));
    --tickIntervalPerc_1: Calc((var(--max) - var(--min)) / var(--x-step));
    --tickIntervalPerc: calc( (100% - var(--thumb-size)) / var(--tickIntervalPerc_1) * var(--tickEvery, 1));
    --value-a: Clamp( var(--min), var(--value, 0), var(--max));
    --value-b: var(--value, 0);
    --completed-a: calc( (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100);
    --completed-b: calc( (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100);
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp( -1, 1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001), 1);
    --thumb-close-to-min: Min(1, Max(var(--ca) - 5, 0));
    --thumb-close-to-max: Min(1, Max(95 - var(--cb), 0));
    box-sizing: content-box;
    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    padding-bottom: var(--ticks-gap);
    padding-top: var(--ticks-gap);
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: var(--grey);
    border-radius: 3px;
    vertical-align: middle;
}

.range-slider__progress {
    --start-end: calc(var(--thumb-size) / 2 + var(--side-offset));
    --clip-end: calc(100% - (var(--cb)) * 1%);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    width: calc(100% - 2 * var(--start-end));
    left: var(--start-end);
    right: var(--start-end);
    top: calc( var(--ticks-gap) + var(--thumb-size) / 2 - var(--track-height) / 2);
    height: calc(var(--track-height));
    background: var(--progress-background var(--grey));
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
}

.range-slider__progress::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    top: 0;
    bottom: 0;
    background: var(--fill-color, var(--basic-black));
    z-index: 1;
    border-radius: inherit;
}

.range-slider__input {
    -webkit-appearance: none;
    width: calc(100% - 2 * var(--side-offset));
    height: var(--thumb-size);
    margin: 0;
    position: absolute;
    left: var(--side-offset);
    cursor: -webkit-grab;
    cursor: grab;
    outline: none;
    background: none;
}

.range-slider__input:not(:only-of-type) {
    pointer-events: none;
}

.range-slider__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background-color: var(--thumb-color);
    background-image: var(--thumb-back);
    box-shadow: var(--thumb-shadow);
    pointer-events: auto;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.range-slider__input::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background-color: var(--thumb-color);
    background-image: var(--thumb-back);
    box-shadow: var(--thumb-shadow);
    pointer-events: auto;
    -moz-transition: 0.1s;
    transition: 0.1s;
}

.range-slider__input::-ms-thumb {
    appearance: none;
    border: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background-color: var(--thumb-color);
    background-image: var(--thumb-back);
    box-shadow: var(--thumb-shadow);
    pointer-events: auto;
    -ms-transition: 0.1s;
    transition: 0.1s;
}

.range-slider__input:hover {
    --thumb-shadow: var(--thumb-shadow-hover);
}

.range-slider__input:active,
.range-slider__input:focus {
    --thumb-back: radial-gradient( 40% 40% at 50% 50%, var(--primary-color) 45.82%, var(--white) 45.83%);
    cursor: -webkit-grabbing;
    cursor: grabbing;
    z-index: 2;
}


/*     modal    */

.modal-form {
    box-sizing: border-box;
    padding: 40px 100px 85px;
    width: 960px;
    height: 590px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    background-color: var(--white);
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    display: none;
}

.form-feedback__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    column-gap: 40px;
    row-gap: 34px;
    margin-bottom: 48px;
}

.form-feedback__label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.form-feedback__label-textarea {
    grid-column: 1 / -1;
}

.form-feedback__input {
    margin-top: 10px;
    border: 2px solid var(--gray-rang);
}

.form-feedback__button {
    padding: 16px 84px;
    background-color: var(--red);
    color: var(--white);
}

.modal-form__caption {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
}

.form-input::placeholder {
    padding-left: 16px;
}

.form-input {
    width: 360px;
    height: 50px;
}

.form-textarea {
    width: 760px;
    height: 118px;
}

.form-textarea::placeholder {
    padding-top: 16px;
}

.button-close {
    position: absolute;
    top: 96px;
    right: 100px;
    opacity: 0.3;
}

.button-close:hover {
    opacity: 1;
}

.button-close:active {
    opacity: 0.1;
}

.form-feedback__button:hover {
    background-color: var(--fog-red);
}

.form-feedback__button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--fog-dark-red);
}

.filter-input-checkbox:checked+label::after {
    content: "";
    width: 25px;
    height: 22px;
    position: absolute;
    left: -33px;
    top: 3px;
    background-image: url("/img/checked.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:checked:hover+label::after {
    opacity: 1;
}

.goods-button {
    width: 200px;
    height: 50px;
    background: var(--fog-red);
    color: var(--white);
    border-radius: 3px;
    text-transform: uppercase;
    border: none;
}

.goods-button:hover {
    background-color: var(--fog-dark-red);
}

.goods-button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, .3);
    background-color: var(--fog-dark-red);
}

.goods-head {
    opacity: 0.3;
    width: 358px;
}

.goods-item-li:hover .goods-head {
    opacity: 1;
}

.page-selected {
    background-color: var(--white);
    outline: 2px solid var(--grey);
}