.page {
	font-family: "Roboto", "Arial", sans-serif;
	min-width: 960px;
	font-size: 16px;
	font-weight: 400px;
}
.main-header{
	background-color: #EEEEEE;
}
.main-header-logo:hover{
	opacity: .7;
}
.main-header-logo:active{
	opacity: .3;
}
.site-navigation {
	list-style: none;
}
.nav-item{
	font-weight: 500;
	font-size: 16px;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
}
.nav-item:hover{
	color: #FB565A;

}
.nav-item:active{
	opacity: .3;
}
.nav-item:visited{
	text-decoration: underline;
}	
.basket-button:hover{
	color: #FB565A;

}
.basket-button:active{
	opacity: .3;
}
.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.slider{
	background-color: #EEEEEE;
}
.slider-img {
	width: 760px;
	height: 431px;
}
.slider-title{
	font-weight: 500;
	font-size: 55px;
}
.services-title{
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}
.slider-description{
	font-style: normal;
	font-weight: normal;
	align-items: center;
}
.services-description{
	width: 400px;
	height: 49px;
}
.slider-button {
	width: 240px;
	height: 50px;
	background: #FB565A;
	color: #FFFFFF;
}
.button-order1 {
	width: 160px;
	height: 50px;
	color: #FFF;
	background: #FB565A;
}
.button-adress {
	width: 219px;
	height: 50px;
	color: #FFF;
	background: #FB565A;
	
}
.button-order2 {
	width: 160px;
	height: 50px;
	color: #FFF;
	background: #00CA74;
}
.button-order3 {
	width: 160px;
	height: 50px;
	color: #FFF;
	background: #EFC849;
}
.about-quote{
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}
.contacs-phone{
	text-decoration: none;
	color: #666;
}

.footer-slogan-top {
	font-size: 36px;
}
.footer-slogan-bot{
	line-height: 22px;
}
.form-button{
	width: 259px;
	height: 50px;
	background: #FB565A;
	color: #FFF;
}
.feature-slogan {
	font-weight: bold;
	text-transform: uppercase;
}
.feature-number {
	font-size: 45px;
}
.modal-title{

	font-size: 45px;
}
.modal-subtitle{
	font-weight: bold;	
}
.name-name {
	width: 360px;
	height: 50px;
}
.form-email{
	width: 360px;
	height: 50px;
}
.form-text{
	width: 760px;
	height: 145px;
}
.socials-item{
	background-color: #E1E1E1;
}
.cases-item{
	text-decoration: none;
	color: rgba(0,0,0, 0.1);
}
.slider-button:hover{
	background-color:#E74246;
}
.slider-button:active{
	background: #D7373B;

}
.button-order1:hover{
	background-color:#E74246;
}
.button-order1:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:#D7373B;
}		
.button-order2:hover{
	background-color:#00BC6C;
}
.button-order2:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:#00AA62;
}
.button-order3:hover{
	background-color:#EAB534;
}
.button-order3:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:#E5A722;
}
.button-adress:hover{
	background-color:#E74246;
}
.button-adress:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:#D7373B;
}		
.form-button:hover{
	background-color:#E74246;
}
.form-button:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:#D7373B;
}
.cases-img{
	opacity: 0.2;
}
.cases-img:hover{
	opacity: 1;
}
.cases-img:active{
	opacity: 0.1;
}

.button{
	border-radius: 3px;
	text-transform: uppercase;
	border: none;
}
.button-adress:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
}	
.address-streat{
	font-style: normal;
	color: #666;
}
.h1{
	font-size: 55px;
	line-height: 55px;
}
.goods-button{
	width: 200px;
	height: 50px;
	background: #FB565A;
	color: #FFFFFF;
}
.fieldset-cost{
	background-color: #EEEEEE;
}
.list{
	list-style-type: none;
}
.button-show{
	width: 260px;
	height: 50px;
	background: #EEEEEE;
}
.button-show:hover{
	background: #DFDFDF;
}
.button-show:active{
	background: #D5D5D5;
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0, 0, 0, 0.3);;
}
.sort-button{
all: unset;
text-transform: uppercase;
opacity: 0.3
}
.sort-button:hover{
	opacity: 0.6;
}
.sort-button:active{
	opacity: 1;
}
.grid {
	border: none;
}
.feature{
	border: none;
}