:root {
--basic-black: #000000;
--red: #FB565A;
--green: #00CA74;
--yellow: #EFC849;
--grey: #EEEEEE;
--white: #FFFFFF;
--fog-gray: #666;
--lite-grey: #E1E1E1;
--fog-red: #E74246;
--fog-dark-red: #D7373B;
--some-green: #00BC6C;
--some-dark-green: #00AA62;
--some-fog-yellow: #EAB534;
--some-dark-yellow:  #E5A722;
--another-gray: #DFDFDF;
--another-other-gray: #D5D5D5;
}
.page {
	font-family: "Roboto", "Arial", sans-serif;
	min-width: 960px;
	font-size: 16px;
	font-weight: 400px;
}
.main-header{
	background-color: var(--grey);
}
.main-header-logo:hover{
	opacity: .7;
}
.main-header-logo:active{
	opacity: .3;
}
.site-navigation {
	list-style: none;
}
.nav-item{
	font-weight: 500;
	font-size: 16px;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--basic-black);
}
.nav-item:hover{
	color: var(--red);

}
.nav-item:active{
	opacity: .3;
}
.nav-item:visited{
	text-decoration: underline;
}	
.basket-button:hover{
	color: var(--red);

}
.basket-button:active{
	opacity: .3;
}
.visually-hidden{
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.slider{
	background-color: var(--grey);
}
.slider-img {
	width: 760px;
	height: 431px;
}
.slider-title{
	font-weight: 500;
	font-size: 55px;
}
.services-title{
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}
.slider-description{
	font-style: normal;
	font-weight: normal;
	align-items: center;
}
.services-description{
	width: 400px;
	height: 49px;
}
.slider-button {
	width: 240px;
	height: 50px;
	background:var(--red);
	color: var(--white);
}
.button-order1 {
	width: 160px;
	height: 50px;
	color: var(--white);
	background: var(--red);
}
.button-adress {
	width: 219px;
	height: 50px;
	color: var(--white);
	background: var(--red);
	
}
.button-order2 {
	width: 160px;
	height: 50px;
	color: var(--white);
	background: var(--green);
}
.button-order3 {
	width: 160px;
	height: 50px;
	color: var(--white);
	background: var(--yellow);
}
.about-quote{
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}
.contacs-phone{
	text-decoration: none;
	color: var(--fog-gray);
}

.footer-slogan-top {
	font-size: 36px;
}
.footer-slogan-bot{
	line-height: 22px;
}
.form-button{
	width: 259px;
	height: 50px;
	background:var(--red);
	color: var(--white);
}
.feature-slogan {
	font-weight: bold;
	text-transform: uppercase;
}
.feature-number {
	font-size: 45px;
}
.modal-title{

	font-size: 45px;
}
.modal-subtitle{
	font-weight: bold;	
}
.name-name {
	width: 360px;
	height: 50px;
}
.form-email{
	width: 360px;
	height: 50px;
}
.form-text{
	width: 760px;
	height: 145px;
}
.socials-item{
	background-color: var(--lite-grey);
}
.cases-item{
	text-decoration: none;
	color: rgba(0,0,0, 0.1);
}
.slider-button:hover{
	background-color:var(--fog-red:);
}
.slider-button:active{
	background: var(--fog-dark-red);

}
.button-order1:hover{
	background-color:var(--fog-red);
}
.button-order1:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:var(--fog-dark-red);
}		
.button-order2:hover{
	background-color:var(--some-green);
}
.button-order2:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:var(--some-dark-green);
}
.button-order3:hover{
	background-color:var(--some-fog-yellow);
}
.button-order3:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color:var(--some-dark-yellow);
}
.button-adress:hover{
	background-color:var(--fog-red);
}
.button-adress:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color: var(--fog-dark-red);
}		
.form-button:hover{
	background-color:#E74246;
}
.form-button:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
	background-color: var(--fog-dark-red);
}
.cases-img{
	opacity: 0.2;
}
.cases-img:hover{
	opacity: 1;
}
.cases-img:active{
	opacity: 0.1;
}

.button{
	border-radius: 3px;
	text-transform: uppercase;
	border: none;
}
.button-adress:active{
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(255,255,255,.3);
}	
.address-streat{
	font-style: normal;
	color: var(--fog-gray);
}
.h1{
	font-size: 55px;
	line-height: 55px;
}
.goods-button{
	width: 200px;
	height: 50px;
	background: #FB565A;
	color: var(--white);
}
.fieldset-cost{
	background-color: var(--grey);
}
.list{
	list-style-type: none;
}
.button-show{
	width: 260px;
	height: 50px;
	background: var(--grey);
}
.button-show:hover{
	background: var(--another-gray);
}
.button-show:active{
	background: var(--another-other-gray);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	color: rgba(0, 0, 0, 0.3);;
}
.sort-button{
all: unset;
text-transform: uppercase;
opacity: 0.3
}
.sort-button:hover{
	opacity: 0.6;
}
.sort-button:active{
	opacity: 1;
}
.grid {
	border: none;
}
.feature{
	border: none;
}
.sites{
	list-style-type: none;
}
.sites-title{
		text-decoration: none;
}